<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Pedia</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">

    <div class="container">
        <a class="navbar-brand" th:href="@{/}">
            <img th:src="@{/images/logo.png}" alt="Logo" width="40" height="40">
            Pet Pedia
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:class="${activePage == 'home'} ? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item" th:class="${activePage == 'wiki'} ? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" th:href="@{/wiki}">Wiki</a>
                </li>
                <li class="nav-item" th:class="${activePage == 'quiz'} ? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" th:href="@{/quiz}">Quiz</a>
                </li>
                <li class="nav-item" th:class="${activePage == 'forum'} ? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" th:href="@{/forum}">Forum</a>
                </li>
                <li class="nav-item" th:class="${activePage == 'shelters'} ? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" th:href="@{/shelters}">Shelters</a>
                </li>
                <li class="nav-item" th:class="${activePage == 'map'} ? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" th:href="@{/map}">Map</a>
                </li>
            </ul>
            <ul class="navbar-nav" sec:authorize="!isAuthenticated()">
                <li class="nav-item" th:class="${activePage == 'login'} ? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" th:href="@{/req/login}">Login</a>
                </li>
            </ul>
            <ul class="navbar-nav p-2" sec:authorize="isAuthenticated()">
                <li class="nav-item" th:class="${activePage == 'profile'} ? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" th:href="@{/profile}">Profile</a>
                </li>
            </ul>
            <form sec:authorize="isAuthenticated()" method="post" action="/logout">
                <!--                <input type="hidden" th:name="${_csrf.parameterName}"-->
                <!--                       th:value="${_csrf.token}" />-->
                <button type="submit" class="btn-danger">Logout</button>
            </form>
        </div>
    </div>
</nav>
</body>
</html>