<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Pedia</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body style="background-color:rgba(232,234,231)">
<div th:replace="~{fragments/header :: header}"></div>

<div class="container">
    <h1>Forum</h1>

    <!-- Button to Create Post Page -->
    <div class="create-post-button">
        <a href="create-post" class="button">Create a Post</a>
    </div>

    <!-- Posts Section -->
    <div class="posts-section">
        <h2>Posts</h2>
        <div id="posts-container">
            <div th:each="post : ${posts}">
                <div class="post">
                    <h3 th:text="${post.title}"></h3>
                    <p th:text="${post.content}"></p>
                    <small th:text="${post.username}"></small>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>