<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Pedia</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body style="background-color:rgba(232,234,231)">
<div th:replace="~{fragments/header :: header}"></div>

<img src="/images/demo-quiz.png" alt="" class="center">

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>